body {
    background-image: url('../img/fondoClaro.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::-webkit-scrollbar{
    width: 7px;
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}
.header{
    width: 100%;
    display: flex;
    background: black;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.nav-links{
    text-decoration: none; 
    color: white;
    transition: all 0.6s;
}

.nav-links a:hover{
    color: #ffbc0e;
}
.nav-links button:hover{
    color: #ffbc0e;
}
.caja3{
    width: 100%;
    transition: all 0.35s ease-in-out;
    border-radius: 10px;
    background: black;
}

.caja3 .thead th{
    color: #ffbc0e;
}

.caja4{ /* PARA LA VISTA DE DELETE_EMP */
    width: 60%;
    transition: all 0.35s ease-in-out;
    border-radius: 10px;
    background: black;
}

.cajaCards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

#buscar::placeholder{
    color: white;
}

#buscarForm::placeholder{
    color: white;
}

#selector{
    color: white;
    cursor: pointer;
}

#btnAbrir{
    display: block;
}

#btnCerrar{
    display: none;
}

/* ESTILOS PARA LAS TABLAS Y PARA LAS TABS DE LA VISTA DETALLES DE EMPLEADOS */
.tab-content article {
    display: none;
}
.tab-content .active {
    display: block;
}
.tabs .active {
    color: white;
}

.tabla {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
    border-radius: 20px;
    background: black;
    color: #ffff;
}

.tabla th{
    border: 1px solid #ffff; 
    padding: 10px; 
}
.tabla td {
    border: 1px solid #ffff; 
    padding: 10px; 
}



